.basketImg {
    width: 50px;
    height: 50px;
    left: 1098px;
    top: 48px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
}