.backImage {
  width: 32px;
  height: 32px;
  left: 102px;
  top: 78px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
}/*# sourceMappingURL=BackImage.css.map */