.button {
  background-color: #D58C51;
  padding: 12px 24px;
  width: 100%;
  border: 0;
  cursor: pointer;
  white-space: pre;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #131313;
}
.button_outline {
  border: 1px solid #D58C51;
  background: transparent;
  color: #D58C51;
}/*# sourceMappingURL=Button.css.map */