.circleButton {
  border: 1px solif #ffffff;
  border-radius: 100%;
  padding: 9px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.circleButton:hover {
  background-color: #D58C51;
  border: transparent 1px;
}/*# sourceMappingURL=CircleButton.css.map */