.product-card {
  border: 1px solid #d58C51;
  height: 100%;
  width: 100%;
  padding: 40px 20px 28px;
  box-sizing: border-box;
  color: #FFFFFF;
  text-align: left;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.product-card:hover {
  color: #d58C51;
}
.product-card__img {
  width: 100%;
  height: auto;
  margin-bottom: 32px;
}
.product-card__title {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  margin-bottom: 12px;
}
.product-card__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.product-card__price {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
}
.product-card__price-block {
  margin-top: auto;
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.product-card__btn {
  margin-left: auto;
  margin-right: 10px;
}/*# sourceMappingURL=ProductCard.css.map */