.productPage {
  background-image: url(./bgproduct.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.productPage__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 70px 20px 70px;
}

.productPage__headerRight {
  display: flex;
  min-width: 400px;
  margin: 0 20px;
}

.basketWrap {
  margin: 0 20px 0 20px;
}

.productPage__main {
  padding: 0 70px 0 140px;
  display: flex;
  align-items: center;
  height: 100%;
  text-align: left;
}
.productPage__main > div {
  width: 50%;
}

.priceWrap {
  display: flex;
  align-items: center;
}

.btnWrap {
  margin-left: 68px;
  max-width: 200px;
  width: 100%;
}/*# sourceMappingURL=ProductPage.module.css.map */