.product-list-page {
  height: 100%;
  width: 100%;
}

.product-list-container {
  display: flex;
  flex-wrap: wrap;
  padding: 70px;
  row-gap: 35px;
  column-gap: 20px;
}
.product-list-item {
  flex: 1 1 auto;
  width: calc(25% - 20px);
}

.header {
  display: flex;
  padding: 50px 70px 0;
}
.header__title {
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 38px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.header__cart-block {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  text-align: right;
  color: #FFFFFF;
  margin-left: auto;
}/*# sourceMappingURL=ProductListPage.css.map */