.form {
    max-width: 460px;
    width: 100%;
    background-color: white;
    padding: 7px 20px 34px;
    display: flex;
    flex-direction: column;

    &__link {
        font-style: normal;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        text-align: right;
        text-decoration-line: underline;
        color: #D58C51;
        align-self: flex-end;
    }
    &__header {
        font-style: normal;
        font-weight: 700;
        font-size: 31px;
        line-height: 38px;
        text-transform: uppercase;
        color: #161516;
        margin: 15px 0 36px;
    }

    &__fieldset {
        border: 0;
        padding: 0;
        margin-bottom: 15px;
    }
    
    &__input {
        border: 1px solid #D58C51;
        border-radius: 61px;
        width: 100%;
        padding: 18px 18px;
        box-sizing: border-box;

        &::placeholder {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: #161516;
        }
    }
    &__checkbox-wrap {
        text-align: left;
    }
    &__checkbox-text {
        font-style: normal;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        color: #301411;
    }

    &__btn-wrap {
        max-width: 200px;
        margin-top: 15x;
        align-self: center;
        width: 100%;
    }
}