.sum{
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    text-align: right;
    color: #FFFFFF;
    background-color: transparent;
    white-space: nowrap;
}